<div id="register-v2" layout="row" layout-align="start" ng-controller="RegisterV2Controller">
  <div id="register-v2-intro" flex hide show-gt-sm>
    <div class="logo md-accent-bg">
      <span>F</span>
    </div>
    <div class="title" translate="REGISTER_V2.INTRO_TITLE">
      Welcome to the Futurify Vacation!
    </div>
    <div class="description" translate="REGISTER_V2.INTRO_DESCRIPTION">
       Let's register new account and book vacation on your own ! 
    </div>
  </div>
  <div id="register-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" layout="column" flex ms-scroll>
    <div id="register-v2-form">
      <div class="logo md-accent-bg" hide-gt-sm>
        <span>F</span>
      </div>
      <div class="title" translate="REGISTER_V2.TITLE">Create an account</div>
      <div class="description" translate="REGISTER_V2.DESCRIPTION">
        Let's register new account and book vacation on your own !
      </div>
      <form name="registerForm" novalidate>
        <md-input-container class="md-block" md-no-float>
          <input name="firstName" ng-model="firstName" placeholder="FirstName"
                 translate translate-attr-placeholder="REGISTER_V2.FIRSTNAME"
                 required>
          <div ng-messages="registerForm.firstName.$error" role="alert">
            <div ng-message="required">
              <span translate="REGISTER_V2.ERRORS.FIRSTNAME_REQUIRED">FirstName field is required</span>
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" md-no-float>
          <input name="LastName" ng-model="lastName" placeholder="LastName"
                 translate translate-attr-placeholder="REGISTER_V2.LASTNAME"
                 required>
          <div ng-messages="registerForm.LastName.$error" role="alert">
            <div ng-message="required">
              <span translate="REGISTER_V2.ERRORS.LASTNAME_REQUIRED">Username field is required</span>
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" md-no-float>
          <input type="email" name="email" ng-model="email" placeholder="Email"
                 translate translate-attr-placeholder="REGISTER_V2.EMAIL"
                 ng-pattern="/^.+@.+\..+$/" required>
          <div ng-messages="registerForm.email.$error" role="alert" multiple>
            <div ng-message="required">
              <span translate="REGISTER_V2.ERRORS.EMAIL_REQUIRED">Email field is required</span>
            </div>
            <div ng-message="pattern">
              <span translate="REGISTER_V2.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" md-no-float>
          <input type="text" name="PhoneNumber" ng-model="PhoneNumber" placeholder="PhoneNumber"
                 translate translate-attr-placeholder="REGISTER_V2.PHONE_NUMBER"
                 ng-pattern="/^[0-9]{10,}$/" required>
          <div ng-messages="registerForm.PhoneNumber.$error" role="alert" multiple>
            <div ng-message="required">
              <span translate="REGISTER_V2.ERRORS.PHONE_NUMBER_REQUIRED">Phone number field is required</span>
            </div> 
            <div ng-message="pattern">
              <span translate="REGISTER_V2.ERRORS.PHONE_NUMBER_MUST_VALID">Phone number must be a valid </span>
            </div>
          </div>
        </md-input-container>
        <md-input-container class="dropdown">
          <label>Positions</label>
          <md-select class="dropdown" name="Position" ng-model="selectedPositions"
                     md-on-close="clearSearchTerm()"
                     data-md-container-class="selectdemoSelectHeader">
            <md-select-header class="demo-select-header">
              <input ng-model="searchTerm"
                     type="search"
                     placeholder="Search for a position.."
                     class="demo-header-searchbox md-text">
            </md-select-header>
            <md-optgroup label="Positions"> 
              <md-option ng-value="position.id" ng-repeat="position in positions |
              filter:searchTerm">{{position.value}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
        <md-input-container class="dropdown">
          <label>Gender</label>
          <md-select class="dropdown" name="Gender" ng-model="selectedGender"
                     md-on-close="clearSearchTerm()"
                     data-md-container-class="selectdemoSelectHeader">
            <md-select-header class="demo-select-header">
              <input ng-model="searchTerm"
                     type="search"
                     placeholder="Search for a gender.."
                     class="demo-header-searchbox md-text">
            </md-select-header>
            <md-optgroup label="Gender"> 
              <md-option ng-value="gender" ng-repeat="gender in genders |
              filter:searchTerm">{{gender}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
        <md-input-container class="datepicker">
          <label>Date of Birth</label>
          <md-datepicker type="date" class="datepicker" name="DoB" ng-model="BirthDay" md-current-view="day" required translate-attr-placeholder="REGISTER_V2.BIRTHDAY md-placeholder="Date Of Birth"></md-datepicker>
           
          <div ng-messages="registerForm.DoB.$error" role="alert" multiple>
            <div ng-message="required">
              <span translate="REGISTER_V2.ERRORS.BIRTHDAY_REQUIRED">Data of Birth field is required</span>
            </div> 
          </div>
        </md-input-container>
        <!--<div class="terms" layout="row" layout-align="center center">
          
        </div>-->
        <md-button type="submit" class="md-raised md-accent submit-button" aria-label="CREATE MY ACCOUNT"
                   ng-disabled="registerForm.$invalid || registerForm.$pristine"
                   translate="REGISTER_V2.CREATE_ACCOUNT"
                   translate-attr-aria-label="REGISTER_V2.CREATE_ACCOUNT" ng-click="Register()">
          CREATE MY ACCOUNT
        </md-button>
      </form>
      <div class="login" layout="row" layout-sm="column" layout-align="center center">
        <span class="text" translate="REGISTER_V2.ALREADY_HAVE">Already have an account?</span>
        <a class="link" ui-sref="app.pages_auth_login-v2" translate="REGISTER_V2.LOGIN">Log in</a>
      </div>
    </div>
  </div>
  
 
</div>