<div id="reset-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="reset-password-form-wrapper" layout="column" layout-align="center center">
        <div id="reset-password-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>F</span>
            </div>

            <div class="title" translate="RESETPASSWORD.TITLE">Reset your password</div>

            <form name="resetPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email address"
                           translate translate-attr-placeholder="RESETPASSWORD.EMAIL_ADRESS"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="resetPasswordForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="RESETPASSWORD.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="RESETPASSWORD.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                  <input type="text" name="VerificationCode" ng-model="vm.form.verificationCode" placeholder="Verification Code"
                         translate translate-attr-placeholder="RESETPASSWORD.VERIFICATION_CODE"
                         required>
                  <div ng-messages="resetPasswordForm.VerificationCode.$error" role="alert">
                    <div ng-message="required">
                      <span translate="RESETPASSWORD.ERRORS.VERIFICATION_CODE_REQUIRED">Verification code field is required</span>
                    </div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                  <input type="password" name="oldPassword" ng-model="vm.form.oldPassword" placeholder="Old Password"
                         translate translate-attr-placeholder="RESETPASSWORD.OLD_PASSWORD"
                         required>
                  <div ng-messages="resetPasswordForm.oldPassword.$error" role="alert">
                    <div ng-message="required">
                      <span translate="RESETPASSWORD.ERRORS.OLD_PASSWORD_REQUIRED">Old Password field is required</span>
                    </div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="newPassword" ng-model="vm.form.newPassword" placeholder="New Password"
                           translate translate-attr-placeholder="RESETPASSWORD.NEW_PASSWORD"
                           required>
                    <div ng-messages="resetPasswordForm.newPassword.$error" role="alert">
                        <div ng-message="required">
                            <span translate="RESETPASSWORD.ERRORS.NEW_PASSWORD_REQUIRED">New Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.form.passwordConfirm"
                           placeholder="Password (Confirm)"
                           translate translate-attr-placeholder="RESETPASSWORD.PASSWORD_CONFIRM"
                           required>
                    <div ng-messages="resetPasswordForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            <span translate="RESETPASSWORD.ERRORS.NEW_PASSWORD_CONFIRM_REQUIRED">New Password (Confirm) field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="button" class="md-raised md-accent submit-button" aria-label="UPDATE MY PASSWORD"
                           ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine"
                           translate="RESETPASSWORD.UPDATE_PASSWORD"
                           translate-attr-aria-label="RESETPASSWORD.UPDATE_PASSWORD" ng-click="">
                    RESET MY PASSWORD
                </md-button>
            </form>
        </div>
    </div>
</div>